.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  width: 100%;
  margin-bottom: 20px;
}

form {
  margin: 50px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.smurf {
  width: 300px;
  margin: 30px 0 30px 0;
}
.container {
  display: flex;
  justify-content: center;
}

.title-font {
  font-size: 30px;
}
